body{
	margin: 0px;
	Padding: 0px;
	text-align: center;
	margin-top:10%;
	
}

h1{
	text-align: center;
	color: #ff3311;
	opacity: 0.8;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h4{
	text-align: center;
	color: #dd22ee;
	opacity:1;
	text-transform: uppercase;
	margin-top: 20px;
}